build/
cpp_demo/docs/DOCUMENTATION_SUMMARY.md
cpp_demo/docs/DOCS_UPDATE_NOTE.txt
cpp_demo/docs/PROJECT_STRUCTURE.txt
cpp_demo/docs/DOCS_INDEX.md
*.binary
stitching/cuda
*.pyc
stitching/synwoodscape/*
stitching/sample_data/*
synwoodscape/*
ROECS_dataset
